<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TetrixGame.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A5E3FBB25B4B607005532BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A5E3FD225B4B609005532BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A5E3FDD25B4B609005532BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
